@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Jura:wght@300;400;600&family=Oxanium:wght@200&family=Poppins:wght@100;300&family=Quicksand:wght@500;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;400&family=Sofia+Sans+Condensed:wght@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  
  /* Oculta a barra de rolagem no Chrome, Safari e Edge */
  body::-webkit-scrollbar {
    display: none;
  }

/* ESTILIZAÇÃO DA PAGINA DOWNLOAD */

nav {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 691px;
    background: linear-gradient(90deg, #041528, #00a8ff, #0d4f61, #074249);
    background-size: 500% 100%;
    animation: animatedBackground 5s ease infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

body {
    background: linear-gradient(90deg, #e1e4e9, #95b6c7, #518b9b, #71b1b8);
    background-size: 500% 100%;
    animation: animatedBackground 5s ease infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

img {
    display: flex;
    height: 30px; /* Altura da imagem do logo */
    margin-right: 10px; /* Espaçamento entre o logo e os itens */
}

li {
    list-style-type: none; /* Remover marcadores de lista */
    float: left; /* Alinhar itens horizontalmente */
    margin-right: 46px; /* Espaçamento entre os itens */
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


li a {
    text-decoration: none;
    padding: 10px;
    color: #fff; /* Define a cor  */
}

li:hover {
    border-bottom: 2px solid #fafafa;
}

.areacard {
    display: flex;
    position: relative;
    gap: 65px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 15px;
}

.card1-pai {
    display: flex;
    align-items: center;
    gap: 83px;
    justify-content: center;
    
}

.card2-pai {
    display: flex;
    align-items: center;
    gap: 83px;
    justify-content: center;
}

.card3-pai {
    display: flex;
    align-items: center;
    gap: 83px;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
  }

 
  
  .card:hover {
    transform: scale(1.1);
    background-color: #a8c8ec;
    border: none;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .card-info {
    padding: 10px;
  }
  
  .card-info h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .card-info p {
    font-size: 14px;
    color: #000000;
  }
  